header{
    background-color: rgb(63, 13, 97);
    color: white;
    height: 6em;
    text-align: center;
    font-size: 25px;
    border: solid 3px rgb(40, 7, 56);

}

body{
    margin: 0;
    margin-top: 0;
}

.blueline{
    height: 1.5em;
    background-color: rgb(198, 158, 224);
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
}

.startofpage{
    display: flex;
    justify-content: center;
    padding-left: 3em;
    padding-top: 2em;
}

img{
    height: 200px;
    width: 200px;
    justify-content: flex-end;
    transform: translateY(70px);
}

.lorem{
    padding-left: 6em;
}

footer{
    background-color: rgb(63, 13, 97);
    height: 10em;
    border: solid 3px rgb(40, 7, 56);
}


/*UTILITY CLASSES*/
.d-flex{
    display: flex;
}

