h1{
    height: 3em;
    text-align: center;
    margin: 0;
    font-size: 45px;
    color: white;
    background-color: rgb(37, 39, 146);
    border: 3px solid black;
    justify-content: end;
}

body{
    margin: 0%;
}

.blueline{
    margin: 4em;
    height: 2em;
    background-color: lightblue;
}