header{
    background-color: rgb(63, 13, 97);
    color: white;
    height: 6em;
    text-align: center;
    font-size: 25px;
}

body{
    margin: 0;
    margin-top: 0;
}

.blueline{
    height: 1.5em;
    background-color: lightblue;
    margin-top: 1em;
}

.startofpage{
    display: flex;
    justify-content: flex-start;
    padding-left: 3em;
    padding-top: 2em;
}

img{
    height: 200px;
    width: 200px;
    justify-content: flex-end;
    transform: translateY(70px);
}

.lorem{
    padding-left: 6em;
}


/*UTILITY CLASSES*/
.d-flex{
    display: flex;
}

